src/oidc-gen/oidc-gen_options.h linguist-language=C
src/oidc-add/oidc-add_options.h linguist-language=C
src/utils/file_io/oidc_file_io.h linguist-language=C
src/utils/listUtils.h linguist-language=C
gitbook/* linguist-documentation
book.json linguist-documentation
LICENSE  linguist-documentation
README.MD  linguist-documentation
.clang-format linguist-detectable=false
rpm/* linguist-detectable=false
debian/* linguist-detectable=false
