bin/
obj/
lib/
man/
*.conf
*.swp
doc/
debian/.debhelper/*
debian/debhelper-build-stamp
debian/oidc-agent/
debian/tmp
debian/files
debian/*.substvars
debian/*.debhelper*
rpm/rpmbuild/
lib/list/src/*.o
lib/list/src/*.gch
