---
include:
  - 'https://git.scc.kit.edu/m-team/ci-voodoo/raw/master/ci-include/generic-ci.yml'
  - 'https://git.scc.kit.edu/m-team/ci-voodoo/raw/master/ci-include/pipeline-jobs.yml'

variables:
  STAGING_BRANCH_NAME: 'staging'
  DOCKER_IMAGE_NAMESPACE: 'marcvs/build'
  DOCKER_IMAGE_NAME: 'oidc-agent'


.oidc-agent-deb-before-script: &oidc-agent-deb-before-script
  - git clone -b debian/dev_`cat VERSION` http://salsa.debian.org/debian/oidc-agent.git delme
  - ls -la
  - test -e debian && ls -la debian
  - test -e ddocker && ls -la ls -la docker
  - test -e debian ||           mv delme/debian .
  - test -e docker/debian.mk || mv delme/docker/debian.mk docker/
  - rm -rf delme


build-debian-buster:
  extends:
    - .build-debian-buster
    - .on-master
  before_script:
    - *oidc-agent-deb-before-script
  script:
    - make buster-debsource
    - dpkg-buildpackage -uc -us

build-debian-bullseye:
  extends:
    - .build-debian-bullseye
    - .on-master
  before_script:
    - *oidc-agent-deb-before-script

build-debian-bookworm:
  extends:
    - .build-debian-bookworm
    - .on-push-and-master
  before_script:
    - *oidc-agent-deb-before-script

build-ubuntu-focal:
  extends:
    - .build-ubuntu-focal
    - .on-push-and-master
  before_script:
    - *oidc-agent-deb-before-script
  script:
    - make focal-debsource
    - dpkg-buildpackage -uc -us

build-ubuntu-hirsute:
  extends:
    - .build-ubuntu-hirsute
    - .on-master
  before_script:
    - *oidc-agent-deb-before-script

build-ubuntu-impish:
  extends:
    - .build-ubuntu-impish
    - .on-master
  before_script:
    - *oidc-agent-deb-before-script

build-ubuntu-jammy:
  extends:
    - .build-ubuntu-jammy
    - .on-push-and-master
  before_script:
    - *oidc-agent-deb-before-script

build-ubuntu-kinetic:
  extends:
    - .build-ubuntu-kinetic
    - .on-master
  before_script:
    - *oidc-agent-deb-before-script


build-centos-7:
  extends:
    - .build-centos-7
    - .on-push-and-master
  #before_script:
  #  - |
  #    # Force RPM's python-bytecompile script to use python3
  #    sed "s@^default_python@default_python=python3\n#default_python@" -i /usr/lib/rpm/brp-python-bytecompile
  #    echo "typing-extensions" >> requirements.txt

build-centos-8:
  extends:
    - .build-centos-8
    - .on-master

build-centos-stream:
  extends:
    - .build-centos-stream
    - .on-push-and-master


build-rockylinux-8:
  extends:
    - .build-rockylinux-8
    - .never

build-rockylinux-8.5:
  extends:
    - .build-rockylinux-85
    - .on-master


build-opensuse-leap-15.3:
  extends:
    - .build-opensuse-leap-153
    - .never

build-opensuse-leap-15.4:
  extends:
    - .build-opensuse-leap-154
    - .on-master

build-opensuse-tumbleweed:
  extends:
    - .build-opensuse-tumbleweed
    - .on-push-and-master

build-fedora-36:
  extends:
    - .build-fedora-36
    - .on-push-and-master

###### WINDOWS ######
build-windows-lib-32:
  extends:
    - .build-win-msys2-mingw32
    - .on-push-and-master
  script:
    - |
      set -x
      make
      make install_includes INCLUDE_PATH=results/include
      mkdir results/
      cp lib/api/liboidc-agent* results

build-windows-lib-64:
  extends:
    - .build-win-msys2-mingw64
    - .on-push-and-master
  variables:
    DOCKER_IMAGE_VERSION_WINDOWS: '3'
  script:
    - |
      set -x
      make
      make install_includes INCLUDE_PATH=results/include
      mkdir results/
      cp lib/api/liboidc-agent* results

  dependencies:
    - build-windows

# git clone -b installer-devel https://git.scc.kit.edu/m-team/oidc-agent.git
# export PATH=$PATH:/mingw64/bin/
build-windows:
  extends:
    - .build-win-msys2
    - .on-push-and-master
  variables:
    DOCKER_IMAGE_VERSION_WINDOWS: '3'
  script:
    - |
      set -x
      # only for debug, apparently
      export PATH=$PATH:/mingw64/bin/
      pushd ./
      cd /mingw64/share/nsis

      # Install envar plugin
      # Version v0.3 from https://nsis.sourceforge.io/File:EnVar_plugin.zip
      wget https://nsis.sourceforge.io/mediawiki/images/archive/7/7f/20210202122230%21EnVar_plugin.zip -O /tmp/envar_plugin.zip
      unzip /tmp/envar_plugin.zip
      cp Plugins/amd64-unicode/EnVar.dll Plugins/unicode/

      popd
      pwd
      ls -la

      # Build
      make win_installer
      cp bin/*installer.exe results

      set +x
