{
  "cert_path":"/etc/ssl/certs",
    "provider":{
      "indigo":{
        "username":"username",
        "client_id":"client_id",
        "client_secret":"client_Secret",
        "configuration_endpoint":"https://iam-test.indigo-datacloud.eu/.well-known/openid-configurationt",
        "refresh_token":""
      }    
    }
}
