{
  "cert_path":"/etc/ssl/certs",
    "provider":{
      "iam":{
        "username":"username",
        "client_id":"client_id",
        "client_secret":"client_secret",
        "configuration_endpoint":"https://iam-test.indigo-datacloud.eu/.well-known/openid-configurationt",
        "refresh_token":"",
        "min_valid_period":"60"
      }    
    }
}
