https://iam-test.indigo-datacloud.eu/ https://iam-test.indigo-datacloud.eu/manage/dev/dynreg
https://b2access.eudat.eu/oauth2/ https://b2access.eudat.eu/
https://b2access-integration.fz-juelich.de/oauth2 https://b2access-integration.fz-juelich.de/
https://unity.eudat-aai.fz-juelich.de/oauth2/ https://unity.eudat-aai.fz-juelich.de/
https://services.humanbrainproject.eu/oidc/ https://services.humanbrainproject.eu/oidc/manage/dev/dynreg platform@humanbrainproject.eu
https://accounts.google.com/ https://console.developers.google.com/
https://aai.egi.eu/oidc/  egi-aai-checkin@lists.grnet.gr
https://aai-dev.egi.eu/oidc https://aai-dev.egi.eu/oidc/manage/admin/client/new egi-aai-checkin@lists.grnet.gr
https://perun.elixir-czech.cz/oidc/ https://perun.elixir-czech.cz/oidc/manage/dev/dynreg/new aai-contact@elixir-europe.org
https://login.elixir-czech.org/oidc/ https://login.elixir-czech.org/oidc/manage/dev/dynreg/new aai-contact@elixir-europe.org
