<h2>Authenticate</h2>
<p/>
{{intro}}
To continue please open the following URL in {{#code}}a browser on any device {{#qr}}(or use the QR code) {{/qr}}and enter the following code{{/code}}{{^code}}your browser{{/code}}:
{{#code}}<p><b>{{.}}</b></p>{{/code}}
<p class="tiny">You need to close this window manually</p>
