<h2>Authenticate</h2>
<p/>
{{intro}}
To continue please open the following URL in {{#code}}a browser on any device {{#qr}}(or use the QR code) {{/qr}}and enter the following code{{/code}}{{^code}}your browser{{/code}}:
{{#code}}<p class="center"><b>{{.}}</b></p>{{/code}}
{{#url}}
    <p class="center" style="word-break: break-all">
        <a href="{{.}}">{{.}}</a>
    </p>
{{/url}}
<p class="tiny center">You need to close this window manually</p>