{{intro}}
To continue please open the following URL in {{#code}}a browser on any device {{#qr}}(or use the QR code) {{/qr}}and enter the following code{{/code}}{{^code}}your browser{{/code}}:
{{code}}