{{#application-hint}}{{.}}{{/application-hint}}{{^application-hint}}An application{{/application-hint}} requests an {{token-type}} token for {{#issuer}}{{.}}{{/issuer}}{{^issuer}}{{shortname}}{{/issuer}}.
{{#id}}ID tokens should not be passed to other applications as authorization.{{/id}}
Do you want to allow the usage of {shortname}}?