<h2>Link Identity</h2>
<p/>
{{#application-hint}}<b>{{.}}</b>{{/application-hint}}{{^application-hint}}An application{{/application-hint}} requests an access token for <b>{{issuer}}</b>.
<p/>
There currently is no identity configured for this issuer. Do you want to configure one now?