{{#application-hint}}{{.}}{{/application-hint}}{{^application-hint}}An application{{/application-hint}} requests an access token for {{issuer}}.
There currently is no identity configured for this issuer. Do you want to configure one now?