<h2>Unlock Identity</h2>
<p/>
{{#application-hint}}<b>{{.}}</b>{{/application-hint}}{{^application-hint}}An application{{/application-hint}} requests an access token for <b>{{issuer}}</b>, but this provider is currently not loaded.
Enter the encryption password to unlock account <b>{{shortname}}</b>.
