#!/usr/bin/make -f
# vi: ts=8 sw=8 noet
%:
	dh $@

override_dh_auto_install:
	$(MAKE) INSTALL_PATH=$$(pwd)/debian/oidc-agent/usr MAN_PATH=$$(pwd)/debian/oidc-agent/usr/share/man CONFIG_PATH=$$(pwd)/debian/oidc-agent/etc BASH_COMPLETION_PATH=$$(pwd)/debian/oidc-agent/usr/share/bash-completion/completer install

