#!/usr/bin/make -f
# vi: ts=8 sw=8 noet

export DEB_BUILD_MAINT_OPTIONS  = hardening=+all

# USE CJSON_SO / USE_LIST_SO:
# If set to 1 it will not use the shipped version, but the shared library
# installed via the corresponding lib[cjson|list]dev packages
export USE_CJSON_SO = 1
export USE_LIST_SO = 0

DEB_TRIPLET := $(shell dpkg-architecture -qDEB_TARGET_MULTIARCH)
export BASEDIR 			= $(shell pwd)/debian/tmp

%:
	dh $@ --no-parallel

# strange: without the override install_lib seems to happen, install_lib-dev not
override_dh_auto_install:
		BIN_AFTER_INST_PATH=/usr \
		BIN_PATH=$(BASEDIR)/usr \
		MAN_PATH=$(BASEDIR)/usr/share/man \
		CONFIG_PATH=$(BASEDIR)/etc \
		BASH_COMPLETION_PATH=$(BASEDIR)/usr/share/bash-completion/completions \
		DESKTOP_APPLICATION_PATH=$(BASEDIR)/usr/share/applications \
		XSESSION_PATH=$(BASEDIR)/etc/X11 \
		PROMPT_MAN_PATH=$(BASEDIR)/usr/share/man \
		PROMPT_BIN_PATH=$(BASEDIR)/usr \
		AGENTSERVER_BIN_PATH=$(BASEDIR)/usr \
		AGENTSERVER_MAN_PATH=$(BASEDIR)/usr/share/man \
		LIB_PATH=$(BASEDIR)/usr/lib/$(DEB_TRIPLET) \
		LIBDEV_PATH=$(BASEDIR)/usr/lib/$(DEB_TRIPLET) \
		INCLUDE_PATH=$(BASEDIR)/usr/include \
		make install install_lib install_lib-dev
