Package: oidc-agent
Version: 1.1.0-1
Architecture: amd64
Maintainer: Marcus Hardt <hardt@kit.edu>
Installed-Size: 290
Depends: libc6 (>= 2.14), libcurl3 (>= 7.16.2), libsodium18 (>= 1.0.10), make (>= 4)
Section: misc
Priority: optional
Description: Commandline tool for obtaining OpenID Connect Access tokens on the commandline
 This tool consists of three programs:
   - oidc-agent that handles communication with the OIDC provider
   - oidc-gen that generates config files
   - oidc-add that loads (and unloads) configuration into the agent
