<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        body, html {
            height: 100%;
        }

            {{> partials/bootstrap}}

    </style>
</head>
<body>

{{>partials/js}}

<div class="container d-flex h-100 text-center">
    <div class="my-auto mx-auto">
        {{{content}}}
    </div>
</div>

</body>
</html>
