{{> partials/text}}


<div class="center">
    <button onclick="printAndTerminate('yes')" {{#yes-auto-focus}}autofocus {{/yes-auto-focus}}
            class="bg-green">Accept
    </button>
    <button onclick="printAndTerminate('no')" {{#no-auto-focus}}autofocus {{/no-auto-focus}}
            class="bg-red">Decline
    </button>
</div>

{{> partials/timeout}}