{{> partials/text}}
<div>
    <label for="input">{{label}}</label>
    <input id="input" type="text" value="{{init}}" autofocus>
</div>
<div class="center">
    <button onclick="printValue('input')" class="bg-green">OK</button>

    <button onclick="window.terminate(1)" class="bg-red">Cancel</button>
</div>

{{> partials/timeout}}

<script>
    document.getElementById('input').select();
    document.getElementById('input').addEventListener("keyup", printOnEnter);
</script>