{{> partials/text}}
<p style="word-break: break-all;">
    <a href="{{label}}">{{label}}</a>
</p>
<div class="center">
    <button onclick="window.openLink('{{label}}')" class="bg-green">Open in default browser</button>
</div>

{{> partials/imgdata}}

<div class="center">
    <button onclick="window.terminate()">Close</button>
</div>

{{> partials/timeout}}
