{{> text}}
<div>
    <label for="textarea" class="form-label">{{label}}</label>
    <textarea id="textarea" class="form-control" rows="{{rows}}" autofocus>{{init}}</textarea>
</div>
<div class="mt-2">
    <button onclick="printValue('textarea')" class="btn btn-success">OK</button>
    <button onclick="window.terminate()" class="btn btn-danger">Cancel</button>
</div>

{{>timeout}}

<script>
    let textarea = document.getElementById('textarea');
    textarea.focus();
    textarea.setSelectionRange(textarea.value.length, textarea.value.length);
</script>