{{> partials/text}}
<div>
    <label for="textarea">{{label}}</label>
    <textarea id="textarea" rows="{{rows}}" autofocus>{{init}}</textarea>
</div>
<div class="center">
    <button onclick="printValue('textarea')" class="bg-green">OK</button>
    <button onclick="window.terminate(1)" class="bg-red">Cancel</button>
</div>

{{> partials/timeout}}

<script>
    let textarea = document.getElementById('textarea');
    textarea.focus();
    textarea.setSelectionRange(textarea.value.length, textarea.value.length);
</script>