{{> partials/text}}
<div>
    <label for="password">{{label}}</label>
    <input id="password" type="password" value="{{init}}" autofocus>
</div>
<div class="center">
    <button onclick="printValue('password')" class="bg-green">OK</button>
    <button onclick="window.terminate(1)" class="bg-red">Cancel</button>
</div>

{{> partials/timeout}}

<script>
    document.getElementById('password').select();
    document.getElementById('password').addEventListener("keyup", printOnEnter);
</script>