{{> partials/text}}
<div>
    <label for="password" class="form-label">{{label}}</label>
    <input id="password" type="password" value="{{init}}" autofocus>
</div>
<div class="mt-2">
    <button onclick="printValue('password')" class="btn btn-success">OK</button>
    <button onclick="window.terminate(1)" class="btn btn-danger">Cancel</button>
</div>

{{> partials/timeout}}

<script>
    document.getElementById('password').select();
    document.getElementById('password').addEventListener("keyup", printOnEnter);
</script>